<!DOCTYPE html>
<html lang="en">
<!--HEAD-->
<%- include('./partials/head.ejs')  %> 
    <title>Home</title>
    <!--HOJA DE ESTILO-->
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/productsList.css" rel="stylesheet">
</head>
<body>
     <!--HEADER-->
     <%- include('./partials/header.ejs')  %> 
     <section class="banner">
         <img src="/images/banner.PNG" alt="">
     </section>
    <!-- MAIN -->
    <main>
        <!-- SECCION FILTROS PC-->
        <section class="filtros">
            <h3>FILTROS</h3>
            <% filtros.forEach(filtro => { %>
                <div class="tipo-filtro">
                    <p><%= filtro %> </p>
                    <p>+</p>
                </div>
            <% }) %>
        </section>
        <section class="filtro-mobile">
            <div>
                <p>FILTRO <i class="fas fa-filter"></i></p>
            </div>
            <div>
                <p>ORDENAR <i class="fa-solid fa-arrow-down-wide-short"></i></p>
            </div>
        </section>
        <!-- SECCION LISTA DE PRODUCTOS -->
        <section class="lista-productos">
                <% listaProductos.forEach(producto => { %>
                    <article class="tarjeta">
                        <a href=<%= producto.url %>>
                            <div class="img-tarjeta">
                                <img src=<%=producto.foto%>  alt="" class="img-product">
                            </div>
                        </a>
                        <div class="envio">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="foot-article">
                            <p class="precio">$ <%=producto.precio%> </p>
                            <p class="descuento"><%= producto.descuento > " " ? producto.descuento : " " %> </p>
                        </div>
                        <div>
                            <h3 class="descripcion">
                                <%=producto.nombre%> 
                                <%=producto.marca %>
                                <%=producto.tamaño %> 
                                <%=producto.color %> 
                            </h3>
                        </div>
                    </article>
                <% }) %>       
        </section>
        
    </main>
    <!-- SUSCRIPCION + FOOTER + COPIRIGHT-->
<%- include('./partials/footer.ejs')  %> 