
<!DOCTYPE html>
<html lang="en">
<!--HEAD-->
<%- include('./partials/head.ejs')  %> 
    <title>Producto</title>
    <!--HOJA DE ESTILO-->
    <link href="/css/detail.css" rel="stylesheet">
</head>
<!--BODY-->
<body>
    <!--HEADER-->
        <%- include('./partials/header.ejs')  %> 
    <!--MAIN -->
    <main>
        <div class="grande">
            <div class="titulo3">
                <h3 class="titulo1"><i class="fa-solid fa-dolly"></i>  Producto  : <%=producto.nombre %>  </h3>
            </div>
            <section class="foto">
                <div class="productos">
                    <img src="<%= producto.foto %> "  alt="productoimage">
                </div>
            </section>
            <div class="descripcion">
                
                <div class ="precio">
                    <p>precio: $ <%=producto.precio %></p>
                </div>
                
                <div class ="precio">
                    <p>stock: <%= producto.stock %> </p>
                </div>  
                <div class ="precio">
                    <p>descuento: %<%= producto.descuento %> </p>
                </div>  
            </div>          
            <div class="pos">
                <div class="boton">
                    <a class="boton_personalizado" href="">Comprar ahora!!</a>
                </div>
                <div class="boton">
                    <a class="boton_personalizado" href="">Agregar al carrito <i class="ion-ios-cart-outline"></i></a>
                </div>
                <div class="boton_personalizado" >
                    <form action="#">
                        <label for="lang">Cantidad</label>
                            <select name="cantidad" >
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                    </form>
                </div>
           
                
                <a href="/productos/cargar/<%= producto.id %> " class="boton_personalizado2" class="action-button edit">EDITAR PRODUCTO</a>
                <form action="/productos/delete/<%=producto.id%>?_method=DELETE" method="POST" >
                    <button type="submit"class="boton_personalizado3" >ELIMINAR</button>
                </form>
            </div>    
            <div>
                <section class="ficha-tecnica">
                    <h3 class="titulo"><i class="fa-solid fa-wrench"></i>  FICHA TECNICA</h3>
                    <div class="titulo4">
                    <br>
                    <p ><u>DESCRIPCIÓN </u>: <%=producto.descripcion  %> </p>
                    <br>
                    <p ><u>COLOR </u> : <%= producto.color %>  </p>
                    <br>
                    <p><u>MARCA </u> :<%= producto.marca %> </p>
                    <br>
                    <p><u>MEDIDAS </u>: <%= producto.tamaño %> </p>
                    <br>
                    <p><u>FABRICANTE </u>: <%= producto.fabricante %> </p>
                    <br>
                    <p ><u>MODELO </u> : <%= producto.modelo %> </p>
                    
                   
                </div>
                </section>         
            </div>
        </div>       
    </main>
<!-- SUSCRIPCION + FOOTER + COPIRIGHT-->
<%- include('./partials/footer.ejs')  %>
